<div class="navbar navbar-inverse">
   <div class="navbar-inner">
     <a class="navbar-brand" href="/">Home</a>
   </div>
 </div>
 <div class="container">

     <h1>Persona Database</h1>

   <div>
     <div>
       <h3>Personas</h2><button class="btn" onclick="location.href='/persona'">View details</button>
     </div>
      </br>
      <div>
       <h3>Skills</h2><button class="btn" onclick="location.href='/skill'">View details</button>
     </div>
     </br>
      <div>
        <h3>Arcana</h2><button class="btn" onclick="location.href='/arcana'">View details</button>
      </div>
      </br>
      <div>
       <h3>Characters</h2><button class="btn" onclick="location.href='/character'">View details</button>
     </div>
      </br>
     <div>
       <h3>Persona Skills</h2><button class="btn" onclick="location.href='/has_skill'">View details</button>
     </div>
    </div>
